*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none 
}

body{
	font-family: 'Raleway', sans-serif;
}

.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

nav{
	margin:auto;
	width: 800px;
	height: 50px;
}

.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px; 
}

.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}

.topnav a:hover{
	border-bottom: 2px solid #000;
}

.topnav .icon{
	display: none;
}

.mw-100{
	max-width: 100%;
}

.advantages___container{
	display: flex;
	justify-content: center;
}

.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.advantages__item{
	width: 30%;
}

.gallery{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.photo-item{
}
.photo-item img{
	
	max-width: 100%;
	opacity: 0.7;
}

.photo-item img:hover{
	opacity: 1;
}


.blog-container{
	background: #fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}

.blog-container a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}


.blog-cover{
	background: url(../img/logo.png);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0  64px 16px;
}

@media screen and (max-width: 768px) {
	.topnav a:not(:first-child){
		display: none;
	}

	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: inline-block;
		color: black;
	}

	nav{
		width: 100%;
	}

	.topnav.responsive{
		position: relative;
	}

	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}

	.advantages__item{
		width: 45%;
	}
}

@media screen and (max-width: 420){
	.advantages{
		flex-direction: column;
	}
	.advantages__item{
		width: 100%;
	}
}


footer{
	width: 100%;
	height: auto;
	background: black;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}

footer a{
	color: white;
	font-size: 14px;
	margin-left: 10px;
}

footer nav a:hover{
	border-bottom: 1px solid #fff;
}

.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}

.social img:hover{
	background: #4949;
	border-radius: 50%;
}

footer p{
	color: white;
}