{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
		<img src="{% static 'img/web.jpg' %}" alt="" class="mw-100">

		<div class="advantages___container">
			<div class="advantages">
				<div class="advantages__item">
					<img src="{% static 'img/company_icons/1.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>

				<div class="advantages__item">
					<img src="{% static 'img/company_icons/2.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>

				<div class="advantages__item">
					<img src="{% static 'img/company_icons/3.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>

				<div class="advantages__item">
					<img src="{% static 'img/company_icons/4.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>

				<div class="advantages__item">
					<img src="{% static 'img/company_icons/5.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>

				<div class="advantages__item">
					<img src="{% static 'img/company_icons/6.png' %}" alt="">
					<h2>Lopem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, iusto facere, cumque reiciendis dolores illum.</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}