{% extends 'base.html' %}
{% load static %}

{% block content%}
<main class="project">
		<div class="gallery">
			<div class="photo-item">
				<img src="{% static 'img/gallery_slides/1.png' %}">
				<img src="{% static 'img/gallery_slides/1.png' %}">
				<img src="{% static 'img/gallery_slides/3.jpg' %}">
				<img src="{% static 'img/gallery_slides/4.jpg' %}">
				<img src="{% static 'img/gallery_slides/3.jpg' %}">
				<img src="{% static 'img/gallery_slides/1.png' %}">
				<img src="{% static 'img/gallery_slides/1.png' %}">
				<img src="{% static 'img/gallery_slides/3.jpg' %}">

			</div>
		</div>
	</main>

{% endblock %}